{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}-{{page_title}}{% endblock %}
{% block body %}
    <div id="content">
        {{ form_start(form) }}
        {{ form_rest(form) }}

        <button type="submit" class="button button-submit">Modifier</button>
        {% if 'ROLE_ADMIN' in app.user.roles %}
            <a href="{{ path('task_delete', {'id': id_task}) }}" class="delete-task">Supprimer la tâche</a>
        {% endif %}
        {{ form_end(form) }}
    </div>
{% endblock %}