{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}-{{page_title}}{% endblock %}
{% block body %}
    <div id="content">
        {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
        {{ form_row(form.deadline) }}
        {{ form_row(form.status) }}
        {{ form_row(form.employees) }}
        {{ form_row(form.project) }}

        <button type="submit" class="button button-submit">Modifier</button>
        <a href="{{ path('task_delete', {'id': id_task}) }}" class="delete-task">Supprimer la tâche</a>
        {{ form_end(form) }}
    </div>
{% endblock %}