{% extends 'base.html.twig' %}

{% block title %}Créer une tâche{% endblock %}

{% block body %}
    <h1>Créer une nouvelle tâche</h1>

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.deadline) }}
    {{ form_row(form.statut) }}
    {{ form_row(form.employee) }}
    {{ form_row(form.project) }}

    <button type="submit">Créer</button>
    {{ form_end(form) }}
{% endblock %}