{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}-{{page_title}}{% endblock %}
{% set page_title = page_title %}
{% block body %}
    <div id="content">
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.deadline) }}
    {{ form_row(form.statut) }}
    {{ form_row(form.employee) }}
    {{ form_row(form.project) }}

    <button type="submit" class="button button-submit">Créer </button>
    {{ form_end(form) }}
    </div>
{% endblock %}