{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}-{{page_title}}{% endblock %}

{% block body %}
    <div id="content">

        {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.surname) }}
        {{ form_row(form.email) }}
        {{ form_row(form.status) }}
        {{ form_row(form.date_add) }}

        <button type="submit" class="button button-submit">{{ btn_label }}</button>
        {{ form_end(form) }}
    </div>
{% endblock %}