{% extends 'base.html.twig' %}

{% block titre %}{{ parent() }}-Liste des Projets{% endblock%}
{% set page_title = "Projets" %}
{% block body %}

            <div id="content">
                <div id="projects-container">
                    {% for project in projects %}
                        <article class="card-project">
                            <a href="{{ path('project_show', { 'id': project.idProject }) }}">
                                <h2>{{ project.name }}</h2>
                            </a>
                            <div class="card-project-icons">
                                <a href="{{ path('project_edit', { 'id': project.idProject }) }}"><i class="fa-solid fa-pen"></i></a>
                                <a href="#"><i class="fa-solid fa-trash"></i></a>
                            </div>
                        </article>
                    {% endfor %}
                    <article class="card-project">
                        <a href="{{ path('project_add')}}">
                            <i class="fa-solid fa-circle-plus add-project-icon"></i>
                            <h2>Ajouter un projet</h2>
                        </a>
                    </article>
                    <article class="card-project">
                        <a href="{{ path('task_index', {'id': '21'}) }}">
                            <i class="fa-solid fa-circle-plus add-project-icon"></i>
                            <h2>Test show task</h2>
                        </a>
                    </article>
                    <article class="card-project">
                        <a href="{{ path('task_add') }}">
                            <i class="fa-solid fa-circle-plus add-project-icon"></i>
                            <h2>Test add task</h2>
                        </a>
                    </article>
                </div>
            </div>
        </main>
    </div>
{%endblock%}