{% extends 'base.html.twig' %}

{% block titre %}{{ parent() }}-Liste des Projets{% endblock%}
{% block body %}
    <div id="main-container">
        <nav>
            <a href="index.html" id="logo">
                <img src="img/logo.png" alt="Logo TaskLinker" />
            </a>
            <ul id="main-menu">
                <li class="active">
                    <a href="index.html">
                        <i class="fa-solid fa-list-check"></i> Projets
                    </a>
                </li>
                <li>
                    <a href="employes.html">
                        <i class="fa-regular fa-user"></i> Équipe
                    </a>
                </li>
            </ul>
        </nav>
        <main>
            <header>
                <div id="current-user"></div>
                <div id="title-page">
                    <h1>Projets</h1>
                </div>
            </header>
            <div id="content">
                <div id="projects-container">
                    {% for project in projects %}
                        <article class="card-project">
                            <a href="{{ path('project_show', { 'id': project.idProject }) }}">
                                <h2>{{ project.name }}</h2>
                            </a>
                            <div class="card-project-icons">
                                <a href="{{ path('project_edit', { 'id': project.idProject }) }}"><i class="fa-solid fa-pen"></i></a>
                                <a href="#"><i class="fa-solid fa-trash"></i></a>
                            </div>
                        </article>
                    {% endfor %}
                    <article class="card-project">
                        <a href="{{ path('project_add')}}">
                            <i class="fa-solid fa-circle-plus add-project-icon"></i>
                            <h2>Ajouter un projet</h2>
                        </a>
                    </article>
                    <article class="card-project">
                        <a href="{{ path('task_show', {'id': '21'}) }}">
                            <i class="fa-solid fa-circle-plus add-project-icon"></i>
                            <h2>Test show task</h2>
                        </a>
                    </article>
                    <article class="card-project">
                        <a href="{{ path('task_add') }}">
                            <i class="fa-solid fa-circle-plus add-project-icon"></i>
                            <h2>Test add task</h2>
                        </a>
                    </article>
                </div>
            </div>
        </main>
    </div>
{%endblock%}