{% extends 'base.html.twig' %}
{% block title %}{{ parent() }}-{{ page_title }}{% endblock %}

{% block nav %}
    <div class="flex-header">
{{ parent() }}
        {% if project.employees is not empty %}
            <div class="user-list">
                {% for employee in project.employees %}
                    <div class="avatar">{{ employee.avatar }}</div>
                {% endfor %}
            </div>
        {% endif %}
        {% if 'ROLE_ADMIN' in app.user.roles %}
        <a class="button" href="{{ path('project_edit', {'id': project.id}) }}">Modifier</a>
        {% endif %}

        <div class="account-header">
            <div class="avatar">{{ app.user.avatar }}</div>
            <p> {{ app.user.name }} {{ app.user.surname }}</p>
            <a class="button" href="{{ path('app_logout')}}">Déconnexion</a>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div id="content">
        <div id="tasks-container">
            <div class="task-column">
                <h2>To Do</h2>
                <div class="tasks-list">
                    {% if todo_list is not empty %}
                    {% for task in todo_list %}
                    <a class="task" href="{{ path('task_index', {'id': task.id}) }}">
                        <h3>{{ task.name }}</h3>
                        <p>{{ task.description }}</p>
                        <div class="task-infos">
                            <div class="task-deadline">
                                <i class="fa-regular fa-calendar"></i> {{ task.deadline|date('d/m/Y') }}
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                    {% endif %}
                    {% if 'ROLE_ADMIN' in app.user.roles %}
                    <a href="{{ path('task_add', {'id': project.id}) }}" class="task-add">+ Ajouter une tâche</a>
                {% endif %}
                </div>
            </div>
            <div class="task-column">
                <h2>Doing</h2>
                <div class="tasks-list">
                    {% if doing_list is not empty%}
                    {% for task in doing_list %}
                    <a class="task" href="{{ path('task_index', {'id': task.id}) }}">
                        <h3>{{ task.name }}</h3>
                        <p>{{ task.description }}</p>
                        <div class="task-infos">
                            <div class="task-deadline">
                                <i class="fa-regular fa-calendar"></i> {{ task.deadline|date('d/m/Y') }}
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                    {% endif %}
                    {% if 'ROLE_ADMIN' in app.user.roles %}
                        <a href="{{ path('task_add', {'id': project.id}) }}" class="task-add">+ Ajouter une tâche</a>
                    {% endif %}
                </div>
            </div>
            <div class="task-column">
                <h2>Done</h2>
                {% if done_list is not empty %}
                {% for task in done_list %}
                <div class="tasks-list">
                    <a class="task" href="{{ path('task_index', {'id': task.id}) }}">
                        <h3>{{ task.name }}</h3>
                        <p>{{ task.description }}</p>
                        <div class="task-infos">
                            <div class="task-deadline">
                                <i class="fa-regular fa-calendar"></i> {{ task.deadline|date('d/m/Y') }}
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                    {% endif %}
                    {% if 'ROLE_ADMIN' in app.user.roles %}
                        <a href="{{ path('task_add', {'id': project.id}) }}" class="task-add">+ Ajouter une tâche</a>
                    {% endif %}
                </div>
            </div>
    </div>
    </div>
{% endblock %}