{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}-{{page_title}}{% endblock %}

{% block body %}
    <div id="content">

    {{ form_start(form) }}
    {{ form_row(form.name) }}
        <div class="form-row">
            {{ form_label(form.is_archived) }}
            {{ form_widget(form.is_archived) }}
        </div>
    {{ form_row(form.employees) }}
        {{ form_rest(form) }}

    <button type="submit" class="button button-submit">{{ btn_label }}</button>
    {{ form_end(form) }}
    </div>
{% endblock %}